<!DOCTYPE html>
<html lang="pt-br" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Gravação de Áudio</title>
   
</head>
<body>
    <div id="popup">
        <p>gravando</p>
    </div>
    <h1 id="titulo">Gravação de Áudio</h1><br>
    <div id="forms">
    <form id="audioForm" action="/" method="post">
        <label for="duration">Tempo de Gravação (segundos):</label>
        <input type="number" id="duration" name="duration" min="1" placeholder="Informe a duração em segundos">
        <input type="submit" id="gravar" value="Gravar Áudio">
    </form>
    </div>
    <script>
        var botao = document.getElementById("gravar");
        botao.addEventListener("click", function(event) {
            // Exibir popup
            document.getElementById('popup').style.display = 'block';
            
            var duracao = document.getElementById("duration").value;
            var tempoVisivel = duracao * 1000;

            // Fechar o popup após 5 segundos
            setTimeout(function() {
                document.getElementById('popup').style.display = 'none';
            }, tempoVisivel);

            // Alerta de gravação finalizada após o tempo de gravação especificado
            setTimeout(function() {
                alert("Gravação finalizada");
            }, tempoVisivel);
        });
    </script>
    <br><br>
    <div id="texto">
        <h2>Texto Transcrito:</h2>
    </div>
        <br>
    <div id="texto2">
        {% if texto_transcrito %}
        <p>{{ texto_transcrito }}</p>
        {% endif %}
    </div>
</body>
</html>
