<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gravação de Áudio</title>
</head>
<body>
    <h1>Gravação de Áudio</h1>
    <form action="/" method="post">
        <label for="duration">Tempo de Gravação (segundos):</label>
        <input type="number" id="duration" name="duration" min="1" placeholder="Informe a duração em segundos">
        <input type="submit" id="gravar"   value="Gravar Áudio">
        <script>
            // Selecione o botão
            var botao = document.getElementById("gravar");
            
            // Adicione um evento de clique ao botão
            botao.addEventListener("click", function() {
                // Exiba um aviso quando o botão for clicado
                alert("gravção iniciada");
            });
            </script>  
    </form>
    {% if texto_transcrito %}
    <h2>Texto Transcrito:</h2>
    <p>{{ texto_transcrito }}</p>
    {% endif %}
</body>
</html>
