<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Gravação de Áudio</title>
</head>
<body>
    <br>
    <div id="popup">
        <p>gravando</p>
        <div class="microphone-icon"></div>
    </div>
    <h1 id="titulo">Gravação de Áudio</h1><br>
    <div id="forms">
        <form id="audioForm" action="/" method="post">
            <label for="duration">Tempo de Gravação:</label>
            <input type="text" id="duration" name="duration" placeholder="Informe a duração">
            <select name="tempo">
                <option value="segundos">Segundos</option>
                <option value="minutos">Minutos</option>
                <option value="horas">Horas</option>
            </select>
            <input type="submit" id="gravar" value="Gravar Áudio">
        </form>
    </div>
    <div id="texto2" style="{% if texto_transcrito %}display: flex;{% endif %}">
        {% if texto_transcrito %}
        <h3 id= "titulo5">texto gerado:</h3>
            <p>{{ texto_transcrito }}</p>
        {% endif %}
    </div>
    <script>
        var botao = document.getElementById("gravar");
        botao.addEventListener("click", function(event) {
        
            
            var duracao = document.getElementById("duration").value;
            var tempo = document.querySelector('select[name="tempo"]').value;
            var tempoVisivel;

            // Verifica se o input é um número válido
            if (!isNaN(duracao) && duracao !== "") {
                tempoVisivel = duracao * 1000;

                if (tempo === 'minutos') {
                    tempoVisivel *= 60;
                } else if (tempo === 'horas') {
                    tempoVisivel *= 3600;
                }
                //alerta gravando
                document.getElementById('popup').style.display = 'flex';
                document.getElementById('texto2').style.display = 'none';
                // Fechar o popup após o tempo especificado
                setTimeout(function() {
                    document.getElementById('popup').style.display = 'none';
                }, tempoVisivel);

                // Alerta de gravação finalizada após o tempo de gravação especificado
                setTimeout(function() {
                    alert("Gravação finalizada");
                }, tempoVisivel);
            } else {
                event.preventDefault(); // Evita que o formulário seja enviado
                alert("Por favor, insira um valor numérico válido para a duração.");
            }
        });
    </script>
</body>
</html>
